<!DOCTYPE html>
<html>
<head>
  <title>User Selection</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div class="container">
    <h2>Welcome!</h2>
    <p>Please select an option:</p>
    <div class="options">
      <a href="http://localhost:4500/login">Login</a>
      <a href="http://localhost:4500/signup">Sign Up</a>
    </div>
  </div>
</body>
</html>
